{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}

    <div class="content">
        {% if candles %}
            <table class="table">
                <thead class="table-head">
                    <tr class="table-row table-row-head">
                        <th class="table-line-head"> Id </th>
                        <th class="table-line-head"> Currency </th>
                        <th class="table-line-head"> Period </th>
                        <th class="table-line-head"> Date </th>
                        <th class="table-line-head"> Open </th>
                        <th class="table-line-head"> Close </th>
                        <th class="table-line-head"> High </th>
                        <th class="table-line-head"> Low </th>
                    </tr>
                </thead>
                <tbody class="table-body">
                    {% for candle in candles %}
                        <tr class="table-row">
                            <th class="table-line-head"> {{ candle.id }} </th>
                            <td class="table-description"> {{ candle.currency }} </td>
                            <td class="table-description"> {{ candle.period }} </td>
                            <td class="table-description">
                                {{ candle.date.strftime('%d /%m / %Y %H:%M:%S') }}
                            </td>
                            <td class="table-description"> {{ candle.open }} </td>
                            <td class="table-description"> {{ candle.close }} </td>
                            <td class="table-description"> {{ candle.high }} </td>
                            <td class="table-description"> {{ candle.low }} </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="message">
                <p class="text"> Nothing to show </p>
            </div>
        {% endif %}
    </div>

{% endblock %}
