@import url('https://fonts.googleapis.com/css2?family=Inika&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 14pt;
    font-family: 'Inika', serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.title {
    font-weight: bold;
    font-size: 18pt;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #AAAAAA;
    width: 100%;
    padding: 5px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #465141;
    width: 100%;
    height: 70px;
    padding: 4px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: #465141;
    color: #fff;
}


/* Table Components */

.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 6px;
}

.table-body {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.table-row {
    border-bottom: 1px solid #465141;
}

.table-row-head {
    height: 40px;
}

.table-line-head, .table-description {
    width: 12.5%;
}

.table-line-head {
    padding-right: 1%;
    font-size: 18px;
    font-weight: bold;
}

.table-description {
    padding: 10px 1%;
    font-size: 16px;
    color: #000;
    line-height: 1.5;
    text-align: center;
}

/* Paginator */

.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}
